*{
	box-sizing: border-box;
}
body{
	font-family: Tahoma;
	line-height: 1.5;
	color: #333;
	width: 100%;
}
.section{
	margin-top: 70px;
	text-align: center;
}
.header{
	text-align: center;
}
.header span{
	font-weight: 300;
	font-size: 24px;
}
.header strong{
	font-size: 24px;
	font-weight: 900;

}
.main{
	display: inline-block;
}
.video, .form{
	margin-top: 60px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.form{
	padding:15px;
	border:5px solid #2727d9;
}
.form input{
	display: block;	
	margin-bottom: 10px;
	width: 300px;
	padding:15px
}
.form p{
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 900;

}
.form-btn{
	height: 57px;
	width: 300px;
	background-color: #3c3cdd;
	color:#ffffff;
	font-size:18px;

}
.feature{
	margin-top: 100px;
}
.col{
	display: inline-block;
	margin:50px 30px 20px 30px;
}
.col p{
	text-align: center;
	font-weight: 700;
}
.feature-btn{
	display: block;
	height: 57px;
	width: 300px;
	background-color: #3c3cdd;
	color:#ffffff;
	font-size:18px;
	margin:30px auto;
}
.customer{
	margin-top: 100px;
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
.clients{
	text-align: center;
	display: inline-block;
	margin:20px 15px 20px 15px;

}